<body id="page-top">


  <!-- NAVIGATION BAR (TO THE LEFT) -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-{{data.pageNavColorTheme}} fixed-top" id="sideNav">

     <!-- IMAGE SECTION -->
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      
      <span class="d-block d-lg-none"></span>
       <!-- IMAGE -->
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/{{data.picture}}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <!-- NAVB BAR (LEFT) "links" -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#summary">summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#engagements">Engagements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

 <!-- MAIN CONTENT -->
  <div class="container-fluid p-0">

     <!-- FRONT/FIRST INFO -->
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">

        <h1 class="mb-0">{{data.firstName}} <span class="txt-{{data.pageTextColorTheme}}">{{data.lastName}}</span></h1>
        <div class="subheading mb-5">
          {{data.dob}} · {{data.address.streetAddress}}, {{data.address.postNumber}} {{data.address.city}} · 
          {{data.contactNumber}} · <a href="mailto:{{data.e-mail}}" class="a-{{data.pageLinkColorTheme}}">{{data.e-mail}}</a>
        </div>
        
        <p class="lead mb-5">{{data.headline}}</p>

        {{#each data.developerProfiles}}
        <div class="social-icons-{{../data.pageIconColorTheme}}" style="display: inline" >
            <a title="{{name}}" href="{{link}}">
              <i class="{{icon}}"></i>
            </a>
        </div>
        {{/each}}

      </div>
    </section>

    <!-- SUMMARY -->
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="summary">
      <div class="w-100">
        <h2 class="mb-5">Summary</h2>
        <p>{{data.summary}}</p>
      </div>
    </section>

    <!-- EXPERIENCE -->
    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>
        
        {{#each data.experience}}
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
              <h3 class="mb-0">{{role}}</h3>
              <div class="subheading mb-3">{{employer}}</div>
              <p>{{information}}</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="txt-{{../data.pageTextColorTheme}}">{{startDate}} - {{endDate}} </span>
              <p style="font-size: 0.8em">{{type}}</p>
            </div>
          </div>
        {{/each}}

      </div>
    </section>

    <!-- EDUCATION -->
    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        {{#each data.education}}
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
              <h3 class="mb-0">{{institution}}</h3>
              <div class="subheading mb-3">{{degree}}</div>
              <div>{{information}}</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="txt-{{../data.pageTextColorTheme}}">{{startDate}} - {{endDate}}</span>
              <p style="font-size: 0.8em">{{level}}</p>
            </div>
          </div>
        {{/each}}

      </div>
    </section>

    <!-- OTHER ENGAGEMENTS -->
    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="engagements">
      <div class="w-100">
        <h2 class="mb-5">Other Engagements</h2>

        {{#each data.otherEngagements}}
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
              <h3 class="mb-0">{{role}}</h3>
              <div class="subheading mb-3">{{organization}}</div>
              <p>{{information}}</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="txt-{{../data.pageTextColorTheme}}">{{startDate}} - {{endDate}} </span>
              <p style="font-size: 0.8em">{{type}}</p>
            </div>
          </div>
        {{/each}}

      </div>
    </section>

    <!-- SKILLS -->
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        {{#each data.tools}}
        <ul style="display: inline" class="list-inline dev-icons-{{../data.pageIconColorTheme}}">
            <li style="display: inline" class="list-inline-item-{{../data.pageIconColorTheme}}"><i title="{{name}}" class="{{icon}}"></i></li>
        </ul>
        {{/each}}
        <div><br></div>
        <div class="subheading mb-3">Key Qualifications</div>
        <p>{{data.keyQualifications}}</p>

        <br>
        <div class="subheading mb-3">Other Qualifications</div>
        <p>{{data.otherQualifications}}</p>

        <br>
        <div class="subheading mb-3">Languages</div>
        {{#each data.languages}}
        <p>{{language}}: {{proficiency}}</p>
        {{/each}}
        
      </div>
      
    </section>

    <!-- CERTIFICATIONS & AWARDS -->
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          {{#each data.certificationsAndAwards}}
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              {{type}}: {{name}}  <p style="font-size: 0.7em">{{organizer}} - <i>({{completed}})</i> - {{date}} </p>
            </li>
            
          {{/each}}
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>